.app{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 10vh;
}
.cardz{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    /* text-align: center;
    display: flex;
    justify-content: center; 
     align-items: center; */
    

}
h1{
    color: black;
}
